# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode
.vscode/
*.code-workspace
.history/

# APM local files (https://github.com/microsoft/apm)
apm_modules/
apm.lock.yaml

# Ignore locally installed tools
tscli

# Ignore locally changed agents configuration from git, as it expected to be managed by APM

# General agents
AGENTS.md

# Claude
.claude/
!.claude/settings.json
#.claude/settings.local.json
#.claude/skills/
#.claude/commands/

# Copilot
.github/
#.github/skills/
#.github/prompts/
#.github/agents/
#.github/instructions/
#.github/hooks/
#.github/plugin/

# OpenCode
.opencode/
#.opencode/skills/
#.opencode/commands/
#.opencode/agents/
#opencode.json

# Cursor
.cursor/
#.cursor/rules/
#.cursor/agents/
#.cursor/skills/
#.cursor/hooks.json
#.cursor/hooks/
#.cursor/mcp.json

